:root{
    /*Dark mode*/
    --prime-blue: #00a0d6;
    --dull-blue: #364f65;
    --dark-blue: #191e26;
    --card-background: whitesmoke;
    --light-prime-gray: #32373e;
    --font-color: white;
    --font-color-inverted: black;

    /*Light mode*/


}

[data-theme = 'light'] {
    
    --prime-blue: #00a0d6;
    --dull-blue: #364f65;
    --dark-blue: #ffffff;
    --card-background: #364f65;
    --light-prime-gray: #e6ecf5;
    --font-color: black; 
    --font-color-inverted: white
}

body{
    margin: 0;
    padding: 0;
}

#app-wrapper {
    background-color: var(--dark-blue);
}